<ion-header>
  <ion-toolbar>
    <ion-title>TCG ESTADIO</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon [src]="icons.elipse"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content (ionRefresh)="doRefresh($event)">
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="agregarProducto" selected>
        <ion-icon [src]="icons.add"></ion-icon>
        <ion-label>Añadir Producto</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="actualizarProducto">
        <ion-icon [src]="icons.update"></ion-icon>
        <ion-label>Actualizar Producto</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="listaProductos">
        <ion-icon [src]="iconoLista" [style.color]="iconoColor"></ion-icon>
        <ion-label>Lista de Productos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
    <ion-tab tab="agregarProducto">
      <app-agregar-producto></app-agregar-producto>
    </ion-tab>
    <ion-tab tab="actualizarProducto">
      <app-actualizar-producto></app-actualizar-producto>
    </ion-tab>
    <ion-tab tab="listaProductos">
      <app-lista-productos></app-lista-productos>
    </ion-tab>
  </ion-tabs>

</ion-content>
