ion-searchbar {
    --background: #f0f0f0;
    --color: #333;
    --placeholder-color: #999;
    --padding-start: 10px;
    --padding-end: 10px;
    --height: 50px; /* Puedes ajustar la altura */
  }
  
  ion-icon {
    color: #007bff; /* Puedes cambiar el color del ícono */
  }